@page "/Curriculo"
@layout Layout.BaseLayout

<PageTitle>Curriculo</PageTitle>

<link href="style.css" rel="stylesheet"/>

<div class="curriculo">

    <h3><strong>Brenda Izabeli Pereira Coria</strong></h3>

<img src="perfil.jpeg" alt="Foto de perfil" class="foto-perfil" width="300" height="300" border="2px" />
<p><strong>E-mail:</strong> izabelibrenda817@gmail.com</p>
<p><strong>Logradouro:</strong> Rua Bacuri    
   <strong>Bairro:</strong> Açaí, 61</p>
<p><strong>Cidade:</strong> Ji-Paraná <strong>Estado:</strong> RO</p>
<p><strong>Contato:</strong> (69) 99255-9545</p>

<h4><strong>Objetivo</strong></h4>
<p>Busco uma oportunidade de estágio ou primeiro emprego na área de Informática, 
   onde eu possa aplicar e desenvolver meus conhecimentos em programação, banco de dados,
   modelagem de sistemas e tecnologias web. Tenho facilidade de aprendizado, boa comunicação
   e disposição para colaborar em equipe, contribuindo para o crescimento da empresa e o meu desenvolvimento profissional.</p>

<h4><strong>Qualificações</strong></h4>
<ul>
    <li>Estagiária na Estácio Unijipa, atuando em suporte técnico a usuários, manutenção de equipamentos, organização de processos acadêmicos e rotinas administrativas de TI.</li>
    <li>Formação técnica em andamento em Informática pelo IFRO – Campus Ji-Paraná, com foco em programação (C#, HTML, CSS), modelagem de dados (DER, UML) e bancos de dados SQL.</li>
    <li>Experiência prática no desenvolvimento de sites e sistemas simples, incluindo criação de animações CSS, aplicação de boas práticas de versionamento de código com Git e uso do Visual Studio Code (VS Code). </li>
    <li>Formação complementar em Empreendedorismo, desenvolvendo visão estratégica e habilidades para trabalhar em projetos e negócios na área de TI.</li>
    <li>Estudo de Saúde e Segurança do Trabalho (SST), com atenção a boas práticas para manter ambientes corporativos mais organizados e seguros.</li>
    <li>Curso de Informática Básica, com domínio de pacote Office (Word, Excel, PowerPoint) e ferramentas online.</li>
    <li>
        Perfil proativo, comprometida com prazos e interessada em aprender novas tecnologias e boas práticas de desenvolvimento.
        Conhecimentos em administração de bancos de dados SQL, manutenção de hardware e redes básicas.
    </li>
</ul>

<h4><strong>Formação Acadêmica</strong></h4>
<ul>
    <li>
        Técnico em Informática — Instituto Federal de Educação, Ciência e Tecnologia de Rondônia (IFRO) — Campus Ji-Paraná
        Conclusão: 2025 (cursando o 3º ano)
    </li>
    <li>
        Curso de Informática Básica — Interativa Informática
        Conclusão: 2018
    </li>
</ul>
</div>

@code {

}
