@page "/Sobre"

<PageTitle>Sobre</PageTitle>

<div class="sobre">

<h3><strong>Sobre Mim</strong></h3>

    <h4><strong>Apresentação Pessoal</strong></h4>
<p>
    Olá! Meu nome é Brenda Izabeli, tenho 17 anos e sou estudante do 3º ano A do curso Técnico em Informática — 
    embora eu não goste muito de tecnologia, sou dedicada e me esforço para dar o meu melhor em tudo que faço. 
    Sou uma pessoa mais reservada, tenho poucas amizades, mas sou delicada e carinhosa com quem confio.
    Tenho dois irmãos mais novos, minha familia é minha prioridade, amo eles infinitamente e incondicionalmente. 
</p>

<h4><strong>Meus Interesses</strong></h4>
<ul>
    <li> Meu maior sonho é ser médica — gosto de estudar temas ligados à saúde, cuidado com as pessoas e biologia.</li>
    <li>Amo tudo que envolve o mundo feminino, como maquiagem, moda, beleza e tendências.</li>
    <li>Sou apaixonada pela cor rosa e adoro acompanhar it girls, tendências de estilo e dicas de autocuidado.</li>
</ul>
    
<h4><strong>Objetivos e Sonhos Pessoais</strong></h4>
<ul>
    <li>Concluir o Ensino Técnico com excelência, mesmo não sendo minha área favorita.</li>
    <li>Ingressar na faculdade de Medicina para realizar meu grande sonho.</li>
    <li>E, acima de tudo, construir uma família, ser mãe e ter uma vida rodeada de amor, cuidado e união.</li>
</ul>
</div>

@code {

}
